*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 1000px;
  margin: auto;
}

/*logo+nav_bar*/
.header{
  background-color: rgb(227, 125, 228);
}

.logo{
  width: 20%;
  border-right: 1px solid rgb(243, 243, 243);
  padding: 0 10px;
}

.logo img{
  width: 100%;
}

ul li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  color: rgb(165, 165, 165);
}

.nav_bar{
  padding: 20px 0;
}
/*/logo+nav_bar*/

/*hero*/
.hero{
  background-color: rgb(226, 213, 128);
  margin: 20px 0;
}

.hero_image img{
  width: 100%;
  height: 440px;
  object-fit: cover;
}
/*/hero*/




.layout{
  height: 450px;
  background-color: rgb(24, 137, 251);
}

.second_title{
  height: 50px;
  background-color: rgb(172, 207, 230);
}

.columns_box{
  margin: 10px 0;
}

.right_column, .center_column, .left_column{
  float: left;
  height: 380px;
  background-color: rgb(172, 207, 230);
}

.footer{
  height: 10%;
  background-color: rgb(135, 37, 250);
  margin-top: 10px;
}

/*columns_editings*/
.center_column{
  width: 604px;
  margin: 0 10px;
}

.right_column, .left_column{
  width: 200px;
}

/*clearfix*/
.columns_box::after{
  content: '';
  display: block;
  clear: both;
}
/*/clearfix*/
/*/columns_editings*/
