*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  height: 1000px;
  margin: auto;
}

/*logo+nav_bar*/
.header{
  background-color: rgb(227, 125, 228);
}

.logo{
  width: 20%;
  border-right: 1px solid rgb(243, 243, 243);
  padding: 0 10px;
}

.logo img{
  width: 100%;
}

ul li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.nav_bar{
  padding: 20px 0;
}

li a{
  text-decoration: none;
  color: rgb(165, 165, 165);
}
/*/logo+nav_bar*/

/*hero*/
.hero_container{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  position: relative;
}

.hero_box_image{
  position: relative;
}

.hero_box_image img{
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 25px;
}

.hero_box_text{
  width: 50%;
  position: absolute;
  top: 70%;
  left: 5%;
  color: white;
}
/*/hero*/

/*layout*/
.layout_container{
  background-color: rgb(24, 137, 251);
}

.second_header{
  background-color: rgb(172, 207, 230);
}

.second_header p{
  color: rgb(165, 165, 165);
}

.columns_box{
  width: 100%;
}

/*left_column*/
.left_column{
  width: 21%;
}

.lc_box_image{
  width: 100%;
}

.lc_box_image{
  position: relative;
}

.lc_box_image>img{
  width: 100%;
  height: 206px;
  object-fit: cover;
  border-radius: 25px;
}
/*/left_column*/

/*center_column*/
.center_column{
  width: 55%;
  margin: 0 10px;
}

.cc_box_image{
  width: 100%;
}

.cc_box_image{
  position: relative;
}

.cc_box_image>img{
  width: 100%;
  height: 206px;
  object-fit: cover;
  border-radius: 25px;
}
/*/center_column*/

/*right_column*/
.right_column{
  width: 22%;
}

.rc_box_image{
  width: 100%;
}

.rc_box_image{
  position: relative;
}

.rc_box_image>img{
  width: 100%;
  height: 206px;
  object-fit: cover;
  border-radius: 25px;
}
/*/right_column*/

.columns_box{
  margin: 10px 0;
}

/*clearfix*/
.columns_box::after{
  content: '';
  display: block;
  clear: both;
}

.right_column, .center_column, .left_column{
  float: left;
  background-color: rgb(172, 207, 230);
}
/*/clearfix*/
/*/layout*/

/*footer*/
.footer{
  background-color: rgb(135, 37, 250);
  margin-top: 10px;
}

.footer>p{
  text-align: center;
}

.heart{
  color: red;
}
/*/foote*/

.overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
